@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
.about-service {
  position: relative;
  top: 250px;
  padding: 20px; }

.about-service-more {
  position: relative;
  top: 150px;
  left: 5%;
  overflow: scroll;
  height: 500px; }

.reg-form, .login-form {
  background-color: rgba(1, 1, 1, 0.1);
  height: 500px;
  margin: auto;
  margin-top: 120px;
  padding: 0;
  transition-duration: 700ms; }
  .reg-form:hover, .login-form:hover {
    transition-duration: 700ms;
    background-color: rgba(1, 1, 1, 0.4); }

.reg-form-fields {
  margin-top: 40px; }
  .reg-form-fields label {
    font-size: small;
    position: relative;
    left: 27.0112044818%; }

.reg-form-item {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  width: 170px;
  margin: 8px auto;
  display: block;
  transition-duration: 700ms; }
  .reg-form-item:hover {
    transition-duration: 700ms;
    border-bottom: 1px solid greenyellow; }

.reg-form-item-btn {
  background: none;
  height: 40px;
  width: 140px;
  border-radius: 3px;
  display: block;
  color: white;
  margin: auto;
  border: 1px solid white;
  transition-duration: 700ms; }
  .reg-form-item-btn:hover {
    transition-duration: 700ms;
    border: 1px solid greenyellow; }

.login-form {
  height: 250px;
  margin-top: 220px;
  padding-top: 10px; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Обнуление стилей
 *
 *
 *
 *
 *############################################### */
html {
  width: auto;
  height: auto; }

body {
  width: auto;
  height: auto;
  overflow: hidden; }

.main-info {
  background-attachment: fixed;
  background-image: url("/pictures/backgrounds/Michael-Philipp-blur.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  color: white; }

.main-info-recruiting {
  background-attachment: fixed;
  background-image: url("/pictures/backgrounds/Michael-Philipp.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  color: white;
  background-image: url("/pictures/backgrounds/recruiting.jpg"); }

.main-menu {
  padding: 0; }

.main-menu-logo {
  display: inline-block; }

.main-menu-logo__img {
  padding-left: 20px;
  padding-top: 10px; }

.main-menu-nav {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 15px; }

.main-menu-nav__button {
  display: inline-block;
  font-size: 1.1em;
  margin: 0;
  margin-left: 10px; }

.about-platform-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 190px;
  max-height: 648px; }

.main-menu-nav__button:hover {
  transition-duration: 700ms; }
.main-menu-nav__button > a {
  display: inline-block;
  color: white;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 5px;
  transition-duration: 700ms; }
  .main-menu-nav__button > a:hover {
    text-decoration: none;
    color: black;
    transition-duration: 700ms; }

.about-platform {
  height: auto;
  width: 100%;
  padding: 0; }

.main-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px; }

.about-platform-wrapper {
  height: 100%; }

.about-platform-info, .about-platform-info-features, .about-platform-info-aboutUs {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  height: 400px; }

.about-platform__text:nth-child(2) {
  padding-top: 50px;
  color: white; }
.about-platform__text:nth-child(1) {
  font-size: 3em; }

.about-platform__text1 {
  font-size: 3em; }

.about-platform__button {
  margin: auto;
  display: block; }

.middle-menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-left: 4px solid rgba(133, 41, 218, 0);
  border-right: 4px solid rgba(133, 41, 218, 0);
  font-size: 70%;
  height: 300px;
  padding-top: 100px;
  transition-duration: 700ms; }

.about-platform-right, .about-platform-right-recruit {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  text-align: right;
  height: 400px; }

.about-platform-right-ourTeam {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: white;
  position: relative;
  text-align: right;
  height: 400px; }

/*margin-top: -60px; */
/*margin-top: -60px; */
.description-picture-aboutUs {
  margin: 0;
  padding: 0; }

.middle-menu__item {
  padding-top: 20px; }

.middle-menu__item__link {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid rgba(133, 41, 218, 0);
  transition-duration: 700ms;
  padding-bottom: 5px; }
  .middle-menu__item__link:hover {
    text-decoration: none;
    color: white;
    transition-duration: 700ms; }

.changeColor {
  text-decoration: underline; }

.menu-picture-left {
  transition-duration: 1700ms;
  height: 100%;
  width: 70%;
  float: right;
  background-image: url("/pictures/menu/left/WellPlayed_about.jpg");
  background-size: cover;
  background-position: center;
  position: relative; }

.menu-picture-right {
  height: 100%;
  width: 70%;
  float: left;
  background-image: url("/pictures/menu/right/b&wsearch.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  transition-duration: 1700ms; }

.menu-picture-left_second {
  height: 100%;
  width: 70%;
  float: right;
  background-image: url("/pictures/menu/left/forOwners.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  top: -1700px;
  transition-duration: 1700ms; }

.notActiveUp {
  top: -1700px; }

.notActiveDown {
  top: 1700px; }

.menu-picture-right_second {
  height: 100%;
  width: 70%;
  float: left;
  background-image: url("/pictures/menu/right/b&r_features.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  position: relative;
  top: 1700px;
  transition-duration: 1700ms; }

.menu-picture-left_third {
  height: 100%;
  width: 70%;
  float: right;
  background-image: url("/pictures/menu/left/aboutUs_left.jpg");
  background-size: cover;
  background-position: center; }

.menu-picture-right_third {
  height: 100%;
  width: 70%;
  float: left;
  background-image: url("/pictures/menu/right/aboutUs_right.jpg");
  background-size: cover;
  background-position: center; }

.menu-picture-right__simbol {
  margin-left: 0;
  margin-right: 10%; }

.menu-picture-left__link, .menu-picture-right__link {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  color: white; }

.menu-picture-left__link:hover > div, .menu-picture-right__link:hover > div {
  width: 70%;
  opacity: 0.9;
  transition: 300ms; }

.menu-picture-left__link:hover > p, .menu-picture-right__link:hover > p {
  color: rgba(133, 41, 218, 0);
  transition: 300ms; }

.menu-picture-left__item, .menu-picture-right__item {
  display: inline-block;
  height: 100%;
  width: 100%; }

.menu-picture-left__simbol, .menu-picture-right__simbol {
  position: relative;
  font-size: 2em;
  display: inline-block;
  margin-top: 65%;
  margin-left: 10%; }

.menu-picture-left__movingBlock {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: white;
  z-index: 2;
  top: 0;
  opacity: 0; }

.menu-picture-right__movingBlock {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 100%;
  background-color: white;
  z-index: 2;
  top: 0;
  opacity: 0;
  right: 0; }

.turnOn {
  display: block; }

.menu-picture-left__text {
  color: black;
  margin-top: 95%;
  font-size: 2em;
  padding-left: 10%; }

.menu-picture-right__text {
  color: black;
  margin-top: 90%;
  padding-right: 10%;
  font-size: 2em; }

.main-footer-sections__item > div {
  color: white; }

.main-footer-sections {
  padding: 0;
  margin-top: -10px; }

body > footer > div > div > div {
  padding: 0; }

.main-footer {
  height: 80px;
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 40px;
  padding: 20px;
  padding-bottom: 48px; }

div.col-lg-6:nth-child(2) > .social-menu {
  float: right; }
  div.col-lg-6:nth-child(2) > .social-menu > a {
    margin-right: 10px;
    color: white; }
    div.col-lg-6:nth-child(2) > .social-menu > a:hover {
      color: white;
      transition-duration: 700ms; }

.visible {
  display: inline-block; }

.invisible {
  display: none; }

/*# sourceMappingURL=style.css.map */
